In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv(r'D:\work\football_analysis\data\filtered_players.csv', names = ["player", "age", "team", "minutes", "Value"])
df2 = pd.read_csv(r'D:\work\football_analysis\data\results.csv')

In [5]:
df1 = df1.drop(index = 0)
df1.head(5)

                player age              team minutes    Value
1       Erling Haaland  24   Manchester City  2480.0  €199.6M
2      Martin Ødegaard  26        Arsenal FC  1865.0  €125.8M
3       Alexander Isak  25  Newcastle United  2265.0  €119.4M
4          Cole Palmer  22           Chelsea  2652.0  €117.4M
5  Alexis Mac Allister  26      Liverpool FC  2381.0    €117M

In [6]:
df2.head(5)

,player,team,nation,position,age,matches_played,starts,minutes,goals,assists,...,Fld,Off,Crs,Recov,Won,Won%,GA90,Save%,CS%,PSave%
0,Aaron Cresswell,2024-2025 West Ham United Stats\r\n(Premier Le...,eng ENG,DF,35,14.0,7.0,589.0,0.0,0.0,...,1.0,0.0,27.0,21.0,7.0,53.8,N/a,N/a,N/a,N/a
1,Aaron Ramsdale,2024-2025 Southampton Stats\r\n(Premier League),eng ENG,GK,26,24.0,24.0,2160.0,0.0,0.0,...,3.0,0.0,0.0,17.0,4.0,100.0,2.37,67.5,8.3,28.6
2,Aaron Wan-Bissaka,2024-2025 West Ham United Stats\r\n(Premier Le...,eng ENG,DF,27,31.0,30.0,2704.0,2.0,2.0,...,23.0,4.0,61.0,153.0,22.0,44.0,N/a,N/a,N/a,N/a
3,Abdoulaye Doucouré,2024-2025 Everton Stats\r\n(Premier League),ml MLI,MF,32,28.0,27.0,2245.0,3.0,1.0,...,5.0,8.0,22.0,131.0,28.0,42.4,N/a,N/a,N/a,N/a
4,Abdukodir Khusanov,2024-2025 Manchester City Stats\r\n(Premier Le...,uz UZB,DF,21,6.0,6.0,503.0,0.0,0.0,...,3.0,0.0,1.0,27.0,6.0,60.0,N/a,N/a,N/a,N/a

In [7]:
merge_df = pd.merge(df1[['player', 'Value']], df2, on='player', how='left')
merge_df.head()

,player,Value,team,nation,position,age,matches_played,starts,minutes,goals,...,Fld,Off,Crs,Recov,Won,Won%,GA90,Save%,CS%,PSave%
0,Erling Haaland,€199.6M,2024-2025 Manchester City Stats\r\n(Premier Le...,no NOR,FW,24,28.0,28.0,2480.0,21.0,...,12.0,4.0,3.0,29.0,49.0,52.1,N/a,N/a,N/a,N/a
1,Martin Ødegaard,€125.8M,2024-2025 Arsenal Stats\r\n(Premier League),no NOR,MF,26,24.0,21.0,1865.0,2.0,...,19.0,1.0,75.0,77.0,8.0,53.3,N/a,N/a,N/a,N/a
2,Alexander Isak,€119.4M,2024-2025 Newcastle United Stats\r\n(Premier L...,se SWE,FW,25,28.0,28.0,2265.0,20.0,...,12.0,19.0,14.0,50.0,23.0,34.3,N/a,N/a,N/a,N/a
3,Cole Palmer,€117.4M,2024-2025 Chelsea Stats\r\n(Premier League),eng ENG,MF,22,31.0,30.0,2652.0,14.0,...,54.0,6.0,128.0,89.0,1.0,12.5,N/a,N/a,N/a,N/a
4,Alexis Mac Allister,€117M,2024-2025 Liverpool Stats\r\n(Premier League),ar ARG,MF,26,31.0,28.0,2381.0,4.0,...,38.0,2.0,70.0,132.0,18.0,36.7,N/a,N/a,N/a,N/a

In [9]:
merge_df.to_csv(r'D:\work\football_analysis\data\merge_df.csv', index=False)